.timeline li:after, .tl-nav:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: 'Oxygen', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

h3 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 300;
}

/*** The timeline styles and structure ***/
.tl-wrapper {
  background: #1d1d1f;
  min-height: 1px;
  position: relative;
}

.timeline {
  position: relative;
  width: 100%;
  min-height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/*** The items ***/
.tl-item {
  visibility: hidden;
  overflow: hidden;
  z-index: 0;
}
.tl-item .tl-copy {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(60%, 0, 0);
          transform: translate3d(60%, 0, 0);
}
.tl-item .tl-image {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-transform: translate3d(-60%, 0, 0);
          transform: translate3d(-60%, 0, 0);
}

.tl-item.tl-active {
  visibility: visible;
  z-index: 10;
}
.tl-item.tl-active .tl-copy {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.tl-item.tl-active .tl-image {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.tl-image {
  float: left;
  width: 25%;
  height:100%;
}
.tl-image img {
  display: block;
}

.tl-copy {
  width: 75%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  padding: 1rem;
  background: url("https://github.com/luatdolphin/nghichthuyhan/raw/master/bgbox-min.png");
  color: #fff;
  background-size: cover;
}
.tl-copy:after {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -19px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 20px 21px 0;
  border-color: transparent #1d1d1f transparent transparent;
}

/*** The nav's styles ***/
.tl-nav-wrapper {
  position: absolute;
  bottom: 10px;
  left: 0;
  margin: 0;
  padding: 16px 0 0 0;
  overflow: hidden;
  width: 100%;
}

.no-csstransforms .tl-nav-wrapper {
  overflow-x: auto;
}

.tl-nav {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  border-top: 1px dashed #289ecb;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
.tl-nav li {
  width: 70px;
  height: 29px;
  position: relative;
  float: left;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 12px;
  text-align: center;
}
.tl-nav li div {
  font-size: 10px;
  width: 47px;
  height: 20px;
  margin: auto;
  background: #289ecb;
  color: #fff;
  padding-top: 4px;
  border-radius: 1000px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}
.tl-nav li:hover div, .tl-nav li.tl-active div {
  width: 70px;
  background: transparent;
  color: #289ecb;
  border: 1px solid #289ecb;
  font-size: 14px;
  padding: 0px 0px 2px 0px;
  white-space: nowrap;
}
.tl-nav li:before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -2px;
  background: #289ecb;
  border-radius: 1000px;
}
